@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-500: #d3493a;
  --red-600: #c3392a;

  --blue-500: #4282cd;
  --blue-600: #3272bd;

  --yellow-500: #ffbe39;
  --yellow-600: #ffae25;

  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  color: var(--slate-900);
  background-color: var(--slate-50);
}

input {
  border: 1px solid var(--slate-300);
  border-radius: 5px;
  background-color: transparent;
  padding-inline: 1rem;
}

input:focus,
textarea:focus {
  outline: 1px solid transparent;
}

a {
  color: var(--blue-500);
  text-decoration: none;
  font-weight: 500;
}

*:hover {
  transition-property: background-color;
  transition-duration: 350ms;
}
