@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-500: #d3493a;
  --red-600: #c3392a;

  --blue-500: #4282cd;
  --blue-600: #3272bd;

  --green-500: #12cd42;
  --green-600: #12dd22;

  --yellow-500: #ffbe39;
  --yellow-600: #ffae25;

  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  color: var(--slate-900);
  background-color: var(--slate-50);
}

input {
  border: 1px solid var(--slate-300);
  border-radius: 5px;
  background-color: transparent;
  padding-inline: 1rem;
  overflow-y: auto;
}

textarea {
  resize: none;
  background-color: transparent;
}

input:focus,
textarea:focus {
  outline: 1px solid transparent;
}

a {
  /*color: var(--blue-500);*/
  text-decoration: none;
  font-weight: 500;
}

*:hover {
  transition-property: background-color;
  transition-duration: 350ms;
}

svg,
img {
  overflow: visible;
}

em {
  font-style: italic;
}

@media screen and (max-width: 400px) {
  body {
    font-size: 12px;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.7rem;
}

.labeval-markdown-content p {
  margin-block: 0.5rem;
}

img {
  width: auto;
  height: auto;
}

button {
  cursor: pointer;
  background-color: transparent;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block: 1rem;
  padding-left: 2.5rem;
}

ul ul {
  list-style-type: circle;
  margin-block: 0rem;
}

ul ul ul {
  list-style-type: square;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block: 1rem;
  padding-left: 2.5rem;
}

ol ol {
  margin-block: 0rem;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.labeval-table td,
.labeval-table th {
  padding-block: 0.5rem;
  border: 1px solid var(--slate-300);
  text-align: left;
  padding-inline: 1rem;
}

.labeval-table thead tr {
  background-color: var(--slate-200);
}

.labeval-table tbody tr:nth-child(even) {
  background-color: var(--slate-100);
}
