@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-600: #d3493a;
  --blue-600: #4282cd;
  --yellow-600: #ffbe39;
  --slate-900: #151720;
  --slate-300: #cbd5e1;
  --slate-200: #e2e8f0;
  --slate-50: #f0f8fc;
}

body {
  color: var(--slate-900);
  background-color: var(--slate-50);
}

input {
  border: 1px solid var(--slate-300);
  border-radius: 5px;
  background-color: transparent;
  padding-inline: 1rem;
}

input:focus,
textarea:focus {
  outline: transparent;
}

a {
  color: var(--blue-600);
  text-decoration: none;
}
